* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}

:root {
  /* Background Color */
  --bg-primary-color: #222;
  --bg-secondary-color: #333;
  --bg-fill-color: #dadada;
  --bg-food-color: crimson;

  /* Text Color */
  --text-primary-color: #dadada;

  /* Spacing variables */
  --space-xs: 0.5rem;
  --space-sm: 1rem;
  --space-md: 1.5rem;
  --space-lg: 2rem;
  --space-xl: 2.5rem;

  /* Border Radius */
  --rounded-xs: 0.5rem;
  --rounded-sm: 1rem;

  /* font size */
  --text-size-sm: 1.1rem;
}

html {
  background-color: var(--bg-primary-color);
  color: var(--text-primary-color);
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

main,
section {
  background-color: var(--bg-primary-color);
  height: 100%;
  width: 100%;
}

section {
  padding: var(--space-lg);
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
}

.infos {
  display: flex;
  justify-content: space-between;
}

.info {
  border: 1px solid var(--bg-secondary-color);
  padding: var(--space-xs);
  border-radius: var(--rounded-xs);
}

.board {
  border: 1px solid var(--bg-secondary-color);
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(50px, 1fr));
  gap: 0;
}

.block {
  border: 1px solid var(--bg-secondary-color);
  border-radius: 50%;
}

.fill {
  background-color: var(--bg-fill-color);
}

.food {
  background-color: var(--bg-food-color);
}

.modal {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  backdrop-filter: blur(3px);
}

.modal .start-game, .modal .restart-game {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
  font-size: 2rem;
}

.modal .restart-game{
  display: none;
}


.btn {
  border: none;
  outline: none;
  border-radius: var(--rounded-xs);
  padding: 0.5rem 0.8rem;
  font-size: var(--text-size-sm);

  width: 50%;
  align-self: center;
  transition: all 0.2 s ease-in;
}

.btn:hover{
  scale: 1.1;
}